header{
    display: flex ;
    justify-content: space-between;
    min-height: 100px;
    /* background-color: #21249a; */
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 100px;
}
.titulo{
    margin-left: 20px;
    text-align: center;
    /* color: white; */
}

body{
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Courier New', Courier, monospace;
}
/* h1{
    text-align: center;
} */
.navbar ul {
    list-style-type: none;
    background-color: #24a9b4;
    padding: 0px;
    overflow: hidden;
    
}
.navbar a {
    color: white;
    text-decoration: solid;
    padding: 20px;
    display: block;
    font-size: 20px;
    text-align: center;
}
.navbar a:hover{
    background-color: violet;
}
.navbar li{
    float: left;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav {
        padding: 10px 0px
    };
}
